body{
    margin: 0 auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* start of header */
.first-container{
    background-color:#981a3b;
    width:100%;
    color: white;
}
.half-width{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    
    
    
}
.icons{
    text-align: center;
}
.facebook{
    font-size: 25px;
}
.youtube{
    font-size: 25px;
    margin-left: 10px;
}
.instagram{
    font-size: 25px;
    margin-left: 10px;
}

.comment{
    margin-left: 50px;
}
.image-one{
    width:100%;
 
  
}
.first-container:hover {

     
      transition: 500ms linear; 
      transform: scale(1.05);
  }
  

.container-box{
    margin-top: 120px;
    margin-left: 50px;
    font-size: 1.5rem;
}
/* end of header */
/* start of middle part */
.align-button{
    text-align: center;
    
}
.second-container{
    margin-top: 5%;
}
.second-container-box{
    margin-right:5%;
}
.button-group{
   
   
   width: 100%;
    padding: 10%;
    display: flex;
   flex-direction: column;
    background-color: #981a3b;
    border-style: none;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px rgba(255, 224, 224, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(229, 219, 219, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(234, 227, 227, 0.75);
    
}
.groups-btn{
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 180px;
}
.blog-btn{
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 180px;
}
.upcoming-btn{
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 180px;

}
/* blog part start */
.blog-contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.second-container{
    display: flex;
    width:90%;
    margin-left: 4%;
    margin-bottom: 5%;

}
.blog-img{
    width: 100%;
    margin: 0;
}
.blog-tax{
        box-shadow: 10px 10px 5px 0px gray;
        border-radius: 10px;
        padding: 10px;
       margin-left: 10%;
}
/* footer box */
footer{
    color: white;
    background-color: #981a3b;
}
.footer-header{
    text-align: center;
    margin-top: 5%;
}
.footer-body{
    padding-left: 20%;
    display: flex;
}
.vs-style{
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
}
.footer-tax{
    padding: 3%;
}
hr{
    width: 70%;
    border: 1px solid whitesmoke;
}
.flag-article{
    text-align: center;
}
.image-parent{
display: flex;
 margin-top: 20px;
 margin-right: 35px;


}

/* mobile view */
@media only screen and (max-width:688px) {
    .half-width{
        
        display: flex;
        flex-direction: column;
    }
    .image-one img{
        width: 100%;
    }
    .second-container{
        display: flex;
        flex-direction: column;
    }
    .second-container-box{
       width: 100%;
       margin: 0 auto;
    }
    .button-group{
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: none;
        padding: 0;
        text-align: center;
        width: 100%;
        

    }
    .groups-btn{
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        display: block;
        width: 150px;
        margin-left: 90px;
    }
    .blog-btn{
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        display: block;
        width: 150px;
        margin-left: 90px;
    }
    .upcoming-btn{
        margin-top: 10px;
        border-radius: 5px;
        border: none;
      font-size: 16px;
      cursor: pointer;
      display: block;
      width: 150px;
      margin-left: 90px;
    }
    .blog-contain{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-tax{
    
        box-shadow: 10px 10px 5px 0px rgba(255, 224, 224, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(229, 219, 219, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(234, 227, 227, 0.75);
        border-radius: 10px;
        margin-top: 10px;
        margin-right: 20px;
    }
    
    .footer-container{
        width: 100%;
        
   
    }
    .footer-body{
        display: flex;
        flex-direction: column;
       
    }
  
    .footer-tax{
        margin-left: 80px;
    }
}


